@import url('https://fonts.googleapis.com/css2?family=Inter&family=Raleway&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #003554;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
}

body{
  background-color: #DBE9EE;
}
